#mainContent{
    padding: 1em 2em;
}
.post{
    border: 3px solid #ff8c00;
    border-radius: 2em;
    padding: 2em;
    margin-bottom: 25px;
    box-shadow: inset 4px -5px 5px #008c8c;
    min-height: 200px;
}
.post > a {
    text-decoration: none;
    color: black;
}
.postEven{
    background-color: #40e0d0;
}
.postOdd{
    background-color: #afeeee;
}
.imgEven{
    float: left;
}
.imgOdd{
    float: right;
}
.postTitle{
    margin-top: 0px;
}
.postTime{
    float: right;
    font-size: xx-small;
}