<h2>About me</h2>
<ul>
  <li> <h4>Location:</h3></li>
    <li style="padding-left:40px;">{{about_me.profile.location}}</li>
  <li> <h4>Social Links:</h3> </li>
  <ul>
    {% for social in about_me.socials %}
      {% if show %} <a href="{{social.social_link}}"><li>
        <img src="{{social.logo}}" alt="{{social.name}}" height="32px" width="32px">
        <p>{{social.social_username}}</p>
       </li></a> {% endif %}
    {% endfor %}
  </ul>
  <li> <h4>Other Links:</h3> </li>
  <ul>
    <li> test </li>
    <li> test </li>
    <li> test </li>
    {% for paper in about_me.papers %}
    {% endfor %}
  </ul>
  <li> <h4>Bio:</h3> </li>
  <li style="padding-left:40px;">{{about_me.profile.bio}}</li>
</ul>
