{% load custom_tags %}
<h2>Post Tags</h2>
<p>Here is a quick filter you can use on topics you are interested in:</p>
<ul>
  {% for category in navigation %}
    <a class="{% navactive request 'blog_filter' slug=category.slug %}" href="{% url 'blog_filter' slug=category.slug %}">
      <li>{{category.category}}</li>
    </a>
    <ul>
    {% for key,tag in tags.items %}
      {% if key == category %}
        {% for item in tag %}
          <a class="{% navactive request 'blog_filter' slug=item.slug %}" href="{% url 'blog_filter' slug=item.slug %}">
            <li> {{item.name}} </li>
          </a>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}

</ul>
